/* إعدادات الخطوط والشرائط الجانبية */
body {
  margin: 0;
  font-family: 'Cairo', sans-serif!important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7F2EA;
}

/* إخفاء شريط التمرير للعناصر التي تحتاج ذلك */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* تخصيص شريط التمرير للموقع */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #F7F2EA;
}

::-webkit-scrollbar-thumb {
  background: #4A2C1D;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #C9A24D;
}
